* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    background-color: #f0f0f0;
    color: #333;
}

/*  Navbar */
header {
    background-color: #4CAF50;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #fff;
    font-size: 24px;
}

.nav-title span {
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*  Main Layout */
main {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

/*  Common Box  */
.page-box,
.register-section,
.contact-container,
.login-section,
.admin-section {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    width: 400px;
}

/* Headings */
.page-box h1,
.page-box h2,
.register-section h1,
.contact-container h2 {
    text-align: center;
    margin-bottom: 15px;
}

/* Messages */
.msg,
.error-msg {
    background-color: #f44336;
    color: #fff;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
}

.success-msg {
    background-color: #4CAF50;
    color: #fff;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
}

/*  Form */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

form textarea {
    resize: vertical;
}

/*  Button  */
button,
.form-btn,
.register-box button,
.contact-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover,
.form-btn:hover,
.register-box button:hover,
.contact-btn:hover {
    background-color: #45a049;
}

/* Links under Forms  */
.login-text,
.form-text {
    text-align: center;
    margin-top: 10px;
}

.login-text a,
.form-text a {
    color: #4CAF50;
    text-decoration: none;
}

.login-text a:hover,
.form-text a:hover {
    text-decoration: underline;
}

/*  Tables  */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #4CAF50;
    color: white;
}

/* Footer  */
footer {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin-top: 80px;
}

.footer-container {
    width: 90%;
    margin: auto;
    padding-bottom: 70px;
    padding-top: 70px;
}

footer hr {
    margin: 25px 0;
    border: none;
    border-top: 1px solid #fff;
}
