* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #f4f4f4;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2e6b3f;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

/* HERO SECTION */
.info {
    height: 90vh;
    background: url("hero.jpg") center/cover no-repeat;
    position: relative;
}

.overlay {
    background: rgba(0, 50, 0, 0.55);
    height: 100%;
    color: white;
    padding: 80px;
}

.welcome {
    font-size: 14px;
    letter-spacing: 1px;
}

h1 {
    font-size: 48px;
    margin: 20px 0;
}

.tagline {
    max-width: 600px;
    margin-bottom: 50px;
     margin: 20px 0; 
}

/* BUTTONS */
.buttons .btn {
    display: inline-block;
    padding: 12px
}
.buttons {
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 15px;
}

/* BUY BUTTON */
.buy {
    background-color: #6aa84f;   /* green */
}

/* SELL BUTTON */
.sell {
    background-color: #38761d;   /* darker green */
}

/* HOVER EFFECT */
.btn:hover {
    opacity: 0.85;
}


.sample {
    background: #f2f2f2;
    padding: 80px;
    text-align: center;
}

.sample .overlay {
    color: #333;
}

.featured-products {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
}

.featured-products div {
    width: 180px;
}

.featured-products img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}


