body {
    font-family: Arial;
    background: #f7f7f7;
    padding: 20px;
}

.upper_db{
    background-color: rgb(78, 156, 78);
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin:20px 0;
}

.shop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 15px;
}

.inv-item {
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.inv-item img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

input {
    width: 90%;
    margin: 6px 0;
    padding: 8px;
}

#Btn{
    background-color: rgb(78, 156, 78);
    color: #fff;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 8px;
}
