body {
    font-family: Arial;
    background: #f7f7f7;
    padding: 20px;
}

.shop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 15px;
}

.card, .inv-item {
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.card img, .inv-item img {
    width: 100%;
    height: 120px;
    object-fit:contain;
  
}

.card input {
    width: 90%;
    margin: 5px 0;
}
#Btn{
    background-color: rgb(78, 156, 78);
    color: #f7f7f7;
    
}
.upper_db{
    background-color: rgb(78, 156, 78);
    color: #f7f7f7;
    text-align: center;
    /* width: auto; */
    /* max-width: 1200px; */
    margin: auto;
    padding: 30px;
}
